extend layouts/main
block nav
  nav#nav
    ul
      li
        a(href="/#about") About me
      li
        a(href="/#career") Career
      li
        a(href="/#skills") Skills
      li
        a.active(href="/#portfolio") Portfolio
block content
  section#about
    .container(ng-controller="GameController")
      header.major
        h2 {{ game.title }}
        h4 Technology: {{ game.technology }}
        h4 Genres: {{ game.genres }}
      p {{ game.description }}
      ul.actions(ng-if="game.playable")
        li
          a.button.special(href="#") Play now
      .screenshots(ng-if="game.screenshots")
        h5 Screenshots
        .box.alt
          .row.uniform(class="50%" ng-repeat="group in game.screenshots track by $index")
            .4u(ng-repeat="screenshot in group track by $index")
              span.image.fit
                img(ng-src="images/games/{{ game.name }}/{{ screenshot.url }}")
      ul.actions
        li
          a.button.alt(href="/#portfolio") View portfolio
