extend layouts/main
block nav
  nav#nav
    ul
      li
        a(href="/#about") About me
      li
        a(href="/#career") Career
      li
        a(href="/#skills") Skills
      li
        a.active(href="/#portfolio") Portfolio
block content
  section#about
    .container
      header.major
        h2 HINT: Hint is not Tetris
        h4 Technology: C++, OpenGL
        h4 Genres: puzzle
      p Created while I was studying computer science. It was build from scratch using C++ and OpenGL. You are a monster called Aka-kun and you need to collect a star on each level. It’s a puzzle game where you can push and rotate tetrominos on a 3D environment. We included a fancy level editor to create custom levels and a basic 2-player cooperative mode.
      ul.actions
        li
          a.button.special(href="#") Play now
      h5 Screenshots
      .box.alt
        .row.uniform(class="50%" ng-repeat="i in [1,2,3]")
          .4u(ng-repeat="i in [1,2,3]")
            span.image.fit
              img(src="images/games/hint/cover.png")
      ul.actions
        li
          a.button.alt(href="/#portfolio") View portfolio
