extend layouts/main
block nav
  nav#nav
    ul
      li
        a.active(href="#about") About me
      li
        a(href="#career") Career
      li
        a(href="#skills") Skills
      li
        a(href="#portfolio") Portfolio
block content
  section#about
    .container
      header.major
        h2 Hi, I'm David!
        p Game developer and pet lover
      p Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.
  section#career
    .container
      h3 Career
      p Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.
      .features.career
        article
          a.image(href="#")
            img(src="images/adverway-logo.png" alt="")
          .inner
            h4 Adverway
            h5 Founder and CTO
            h6 Nov 2012 - Nov 2015
            p We wanted to create our own project so with our knowledge of web development and Facebook applications plus our restlessness in game development we founded a second company called Adverway. It was a good opportunity to mix web and games so I created my own HTML5 engine called Ethon.
            p Adverway was a platform for brands where they could create their own games for Facebook, web and mobile. We had a catalogue of game mechanics and our customer could choose one and customize it. I created some casual games for it like Memory, Jewels or Sneaky Words.
        article
          a.image(href="#")
            img(src="images/uoc-logo.png" alt="")
          .inner
            h4 Universitat Oberta de Catalunya
            h5 Post-Graduate, Video game design and programming
            h6 2011 - 2012
            p While I was working on my company i++ I wanted to improve my knowledge about game development. I had not enough time to start a in-person course so I decided to study an online post-graduate at UOC. I learned a lot of things about 2D and 3D game development using C++ and a custom engine provided
        article
          a.image(href="#")
            img(src="images/imesmes-logo.png" alt="")
          .inner
            h4 i++
            h5 Founder and CTO
            h6 June 2009 - Nov 2014
            p After finishing my University Degree I started a small company called imesmes (i plus plus in catalan) with some of my colleagues. We started doing small jobs like customizing wordpress templates and small static web pages.Then we created our first Facebook applications and small games on it. For a internal christmas campaign we build the game “Que venen els reis mags” in HTML5.
        article
          a.image(href="#")
            img(src="images/uab-logo.png" alt="")
          .inner
            h4 Universitat Autónoma de Barcelona
            h5 Engineering, Computer Science
            h6 2004 - 2009
            p Since I was a little boy I wanted to make video games. After finishing the General Certificate of Education I started Computer Science at UAB because I thought it was the best starting point for me. I studied a lot of things there: lots of math, electronics, networks, how a cpu works, etc. But in those 5 years my only contact with video games was a computer graphics subject where I collaborate in the HINT project.
  section#skills
    .container
      h3 Skills
      p In my career I learnt a lot of different skills about game and web development. I want to highlight a few of them. 
      h4 Game development
      ul.feature-icons.skills
        li.skill.unity3d
          h5 Unity3D
          ul.progress-bar
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li
            li
        li.skill.phaserjs
          h5 PhaserJS
          ul.progress-bar
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li
      h4 Web development
      ul.feature-icons.skills
        li.skill.angularjs
          h5 AngularJS
          ul.progress-bar
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
        li.skill.ror
          h5 Ruby on Rails
          ul.progress-bar
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
            li.fill &nbsp;
      h4 Miscellaneous
      ul.feature-icons.skills
        li.skill.blender
          h5 Blender
          ul.progress-bar
            li.fill &nbsp;
            li.fill &nbsp;
            li
            li
            li
  section#portfolio(ng-controller="PortfolioController")
    .container
      h3 Portfolio
      p These are some projects developed in smaller teams. A few of them have been created in less than 72h for a <a href="http://ludumdare.com" target="_blank">LudumDare</a> competition.
      p I like to test different programming languages and engines for my projects. I'm in love with <a href="http://www.phaser.io/" target="_blank">PhaserJS</a> and <a href="http://unity3d.com/" target="_blank">Unity3D</a>.
      .portfolio.box.alt
        .row.uniform(class="50%" ng-repeat="group in games track by $index")
          a.game.6u(href="game.html#{{ game.name }}" ng-repeat="game in group track by $index")
            .image.fit
              img(ng-src="images/games/{{ game.name }}/cover.png" alt="")
              .title {{ game.title }}
