<!DOCTYPE HTML>
<html ng-app="beagleknightApp">
	<head>
		<title>beagleknight</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/avatar.png" alt="" /></span>
					<h1 id="logo"><a href="#">David Morcillo</a></h1>
					<p>Game developer<br />
					and totally geek [TODO]</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About me</a></li>
            <li><a href="#two">Career</a></li>
            <li><a href="#three">Skills</a></li>
						<li><a href="#four">Portfolio</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://twitter.com/beagleknight" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/beagleknight" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://es.linkedin.com/in/davidmorcillo" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="mailto:beagleknight@gmail.com" target="_blank" class="icon fa-envelope"><span class="label">Mail</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
        <!-- Main -->
        <div id="main">

            <!-- One -->
              <section id="one">
                <div class="container">
                  <header class="major">
                    <h2>Hi!</h2>
                    <p>Just an incredibly simple responsive site<br />
                    template freebie by <a href="http://html5up.net">HTML5 UP</a>.</p>
                  </header>
                  <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet tortor ultricies non ante erat nunc integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum.</p>
                </div>
              </section>

            <!-- Two -->
              <section id="two">
                <div class="container">
                  <h3>Career</h3>
                  <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                  <div class="features career">
                    <article>
                      <a href="#" class="image"><img src="images/adverway-logo.png" alt="" /></a>
                      <div class="inner">
                        <h4>Universitat Autónoma de Barcelona</h4>
                        <h5>Engineering, Computer Science</h5>
                        <h6>2004 - 2009</h6>
                        <p>Since I was a little boy I wanted to make video games. After finishing the General Certificate of Education I started Computer Science at UAB because I thought it was the best starting point for me.
          I studied a lot of things there: lots of math, electronics, networks, how a cpu works, etc. But in those 5 years my only contact with video games was a computer graphics subject where I collaborate in the HINT project.</p>
                      </div>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/adverway-logo.png" alt="" /></a>
                      <div class="inner">
                        <h4>i++</h4>
                        <h5>Founder and CTO</h5>
                        <h6>June 2009 - Nov 2014</h6>
                        <p>After finishing my University Degree I started a small company called imesmes (i plus plus in catalan) with some of my colleagues. We started doing small jobs like customizing wordpress templates and small static web pages.Then we created our first Facebook applications and small games on it. For a internal christmas campaign we build the game “Que venen els reis mags” in HTML5.</p>
                      </div>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/adverway-logo.png" alt="" /></a>
                      <div class="inner">
                        <h4>Universitat Oberta de Catalunya</h4>
                        <h5>Post-Graduate, Video game design and programming</h5>
                        <h6>2011 - 2012</h6>
                        <p>While I was working on my company i++ I wanted to improve my knowledge about game development. I had not enough time to start a in-person course so I decided to study an online post-graduate at UOC. I learned a lot of things about 2D and 3D game development using C++ and a custom engine provided</p>
                      </div>
                    </article>
                    <article>
                      <a href="#" class="image"><img src="images/adverway-logo.png" alt="" /></a>
                      <div class="inner">
                        <h4>Adverway</h4>
                        <h5>Founder and CTO</h5>
                        <h6>Nov 2012 - Nov 2015</h6>
                        <p>We wanted to create our own project so with our knowledge of web development and Facebook applications plus our restlessness in game development we founded a second company called Adverway. It was a good opportunity to mix web and games so I created my own HTML5 engine called Ethon.</p>
                        <p>Adverway was a platform for brands where they could create their own games for Facebook, web and mobile. We had a catalogue of game mechanics and our customer could choose one and customize it.
                        I created some casual games for it like Memory, Jewels or Sneaky Words.</p>
                      </div>
                  </div>
                </div>
              </section>

            <!-- Three -->
              <section id="three">
                <div class="container">
                  <h3>Skills</h3>
                  <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
                  <ul class="feature-icons skills">
                    <li class="skill unity3d">
                      <h4>Unity3D</h4>
                      <ul class="progress-bar">
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                      </ul>
                    </li>
                    <li class="skill unity3d">
                      <h4>PhaserJS</h4>
                      <ul class="progress-bar">
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                      </ul>
                    </li>
                    <li class="skill unity3d">
                      <h4>HTML5</h4>
                      <ul class="progress-bar">
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                      </ul>
                    </li>
                    <li class="skill unity3d">
                      <h4>Blender</h4>
                      <ul class="progress-bar">
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                      </ul>
                    </li>
                    <li class="skill unity3d">
                      <h4>Java </h4>
                      <ul class="progress-bar">
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li class="fill">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </section>

            <!-- Four -->
              <section id="four">
                <div class="container">
                  <h3>Portfolio</h3>
                  <div class="portfolio box alt">
                    <div class="row 50% uniform" ng-repeat="i in [1,2,3,4]">
                      <a href="game.html" class="game 6u">
                        <span class="image fit">
                          <img src="images/games/hint/cover.png" alt="" />
                          <span class="title">HINT: Hint is not Tetris</span>
                        </span>
                      </a>
                      <a href="game.html" class="game 6u">
                        <span class="image fit">
                          <img src="images/games/hint/cover.png" alt="" />
                          <span class="title">HINT: Hint is not Tetris</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </section>

        </div>

			</div>

		<!-- Scripts -->
			<script src="js/libs.js"></script>
			<script src="js/index.js"></script>

	</body>
</html>
