@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color: _palette(accent1, bg);
}

footer {
  .icons {
    a {
      color: _palette(fg);
    }
  }
}

.features.career {
  article {
    .image {
      vertical-align: top;
      width: 30%
    }
    .inner {
      width: 68%
    }
  }
}

ul.feature-icons.skills {
  li.skill.unity3d {
    background: url(/images/unity-icon.png) top left no-repeat;
    background-size: 15%
  }
}

ul.progress-bar {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15%;
    border: 1px solid _palette(fg-bold);
    height: 12px;
    &.fill {
      background: _palette(accent1, fg-dark);
    }
  }
}

.portfolio {
  .row.uniform {
    margin-bottom: 20px;
    .game {
      border: 0;
      .title {
        display: block;
        text-align: center;
      }
    }
  }
}
