@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color: _palette(accent1, bg);
}

footer {
  .icons {
    a {
      color: _palette(fg);
    }
  }
}

.features.career {
  article {
    .image {
      vertical-align: top;
      width: 30%
    }
    .inner {
      width: 68%
    }
  }
}

ul.feature-icons.skills {
  li.skill {
    padding-left: 4em;
    background-size: 15%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  li.skill.unity3d {
    background-image: url(/images/unity-icon.png);
  }
  li.skill.phaserjs {
    background-image: url(/images/phaserjs-icon.png);
  }
  li.skill.angularjs {
    background-image: url(/images/angularjs-icon.png);
  }
  li.skill.ror {
    background-image: url(/images/ror-icon.png);
  }
  li.skill.blender {
    background-image: url(/images/blender-icon.png);
  }
}

ul.progress-bar {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 15%;
    border: 2px solid _palette(bg);
    height: 12px;
    &.fill {
      background: _palette(accent1, fg-dark);
    }
  }
}

.portfolio {
  .row.uniform {
    margin-bottom: 20px;
    .game {
      border: 0;
      .title {
        display: block;
        text-align: center;
      }
    }
  }
}

section#skills {
  h4 {
    border-bottom: 1px solid _palette(fg-bold);
    margin-bottom: 25px;
  }
}

section#about {
  p {
    q {
      background: #fff;
      padding: .1em;
      font-style: italic;
    }
  }
}
